---
import Layout from "../layouts/Layout.astro";
import "$src/styles/main.css";
import { iiPages } from "$showcase/showcase";

export function getStaticPaths() {
  return Object.keys(iiPages).map((key) => ({ params: { page: key } }));
}

const { page } = Astro.params;
---

<Layout>
  <main id="pageContent" aria-live="polite" data-page-name={page}></main>
  <script>
    import { iiPages } from "$showcase/showcase";

    const page = (document.querySelector("[data-page-name]") as HTMLElement)
      .dataset?.pageName as string;

    const f = iiPages[page];
    f();
  </script>
</Layout>
