---
import Layout from "../layouts/Layout.astro";
import "$src/styles/main.css";
export const iiPageNames = [
  "displayUserNumber",
  "compatibilityNotice",
  "promptDeviceAlias",
  "authorizeNew",
  "authorizeNewKnown",
  "authorizeNewAlt",
  "authorizeNewKnownAlt",
  "authorizeUseExisting",
  "authorizeUseExistingKnown",
  "authorizeUseExistingKnownAlt",
  "authorizePick",
  "authorizePickMany",
  "manageNew",
  "manageUseExisting",
  "managePick",
  "protectDeviceInfo",
  "unprotectDeviceInfo",
  "resetPhraseInfo",
  "promptRecovery",
  "recoverWithPhrase",
  "recoverWithDevice",
  "forgotNumber",
  "savePasskey",
  "savePasskeyWithPin",
  "promptCaptcha",
  "promptCaptchaReady",
  "pinInfo",
  "setPin",
  "confirmPin",
  "usePin",
  "displayManage",
  "displayManageSingle",
  "pollForTentativeDevicePage",
  "deviceRegistrationDisabledInfo",
  "showVerificationCode",
  "verifyTentativeDevice",
  "loader",
  "addPhrase",
  "addPhraseWarning",
  "displaySeedPhrase",
  "confirmSeedPhrase",
  "displayError",
  "promptUserNumber",
  "banner",
  "registerDisabled",
  "toasts",
  "dappsExplorer",
  "showMessage",
  "showSpinner",
  "addDeviceSuccess",
];

export function getStaticPaths() {
  return iiPageNames.map((page) => ({ params: { page } }));
}

const { page } = Astro.params;
---

<Layout>
  <main id="pageContent" aria-live="polite" data-page-name={page}></main>
  <div id="loaderContainer"></div>
  <script>
    import { iiPages } from "$showcase/showcase";

    const page = (document.querySelector("[data-page-name]") as HTMLElement)
      .dataset?.pageName as string;

    const f = iiPages[page];
    f();
  </script>
</Layout>
