---
import Layout from "../layouts/Layout.astro";
import "$src/styles/main.css";
export const iiPageNames = [
  "displayUserNumber",
  "displayUserNumberTempKey",
  "promptDeviceAlias",
  "promptCaptcha",
  "promptCaptchaReady",
  "displayManage",
  "displayManageSingle",
  "displayManageTempKey",
  "deviceRegistrationDisabledInfo",
  "showVerificationCode",
  "verifyTentativeDevice",
  "loader",
  "displaySeedPhrase",
  "confirmSeedPhrase",
  "banner",
  "toasts",
  "addDeviceSuccess",
  "abortedCredentialsInternalError",
];

export function getStaticPaths() {
  return iiPageNames.map((page) => ({ params: { page } }));
}

const { page } = Astro.params;
---

<Layout title={page ?? "showcase"}>
  <main id="pageContent" aria-live="polite" data-page-name={page}></main>
  <div id="loaderContainer"></div>
  <script>
    import { iiPages } from "$showcase/showcase";

    const page = (document.querySelector("[data-page-name]") as HTMLElement)
      .dataset?.pageName as string;

    const f = iiPages[page];
    f();
  </script>
</Layout>
