---
import Layout from "../layouts/Layout.astro";
import "$src/styles/main.css";
---

<Layout>
  <main id="pageContent" aria-live="polite"></main>
  <script>
    import { defaultPage } from "$showcase/showcase";

    defaultPage();
  </script>
</Layout>
