---
import Layout from "../layouts/Layout.astro";

type Props = {
  title: string;
  pageName: string;
  // This means that the children prop is required
  // https://docs.astro.build/en/guides/typescript/#common-prop-type-patterns
  children: any;
}

const { title, pageName } = Astro.props;
---

<Layout title={title}>
  <main id="pageContent" aria-live="polite" data-page-name={pageName}></main>
  <div id="loaderContainer"></div>
  <slot />
</Layout>
