@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/***
The new CSS reset - version 1.7.2 (last updated 23.6.2022)
GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
- The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/**
 * Internet Identity Specific Styles
 **/

:root {
  font-family: "Montserrat", sans-serif;
  font-size: max(62.5%, calc(17.5% + 0.6vw)); /* 10px / 1200px min 10px */

  --c-raven: #202124;
  --c-snow: #ffffff;
  --c-vapour: rgba(255,255,255,.5);
  --c-shadow: rgba(32, 33, 36,.6);
  --c-silver: #d9d9d9;

  --c-brand-orange: #f15a24;
  --c-brand-yellow: #fbb03b;
  --c-brand-pink: #ed1e79;
  --c-brand-purple: #522785;
  --c-brand-blue: #29abe2;

  --c-text: var(--c-raven);
  --c-background: var(--c-snow);
  --c-background-transparent: var(--c-vapour);
  --c-line: var(--c-snow);
  --c-line-inverted: var(--c-raven);

  --c-interaction: var(--c-brand-blue);

  --c-button: var(--c-raven);
  --c-onButton: var(--c-snow);

  background: var(--c-background);
  color: var(--c-text);

  --s-line: 1px;
  --s-stack: 1rem;
  --s-footer-stack: calc(var(--s-stack) * 1.5);

  --s-gutter: 0.5rem;

  --s-footer-gutter: var(--s-gutter);
  --s-logo-stack: calc(var(--s-gutter) * 8);

  --s-card-bezel: calc(var(--s-gutter) * 5);
  --s-card-bezel-x: calc(var(--s-gutter) * 7);

  --s-card-stack: calc(var(--s-stack) * 1.5);
  --s-card-bezel-narrow: calc(var(--s-card-bezel) * 0.35);

  --s-button-bezel: var(--s-card-bezel-narrow);
  --s-button-stack: var(--s-stack);

  --s-line-height: 1.35;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-text: var(--c-snow);
    --c-background: var(--c-raven);
    --c-background-transparent: var(--c-shadow);
    --c-line: var(--c-raven);
    --c-line-inverted: var(--c-snow);

    --c-button: var(--c-snow);
    --c-onButton: var(--c-raven);
  }
}

/**
 * Typography
 */
body {
  font-size: 1.6rem;
  line-height: var(--s-line-height);
}

.t-title {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.2;
}

.t-title--main {
  font-size: 2.8rem;
}

.t-lead {
  font-size: 1.6rem;
}

.t-title + .t-lead {
  margin-top: .5em;
}

.t-vip {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}

a, .t-link {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.t-link--discreet {
  font-weight: normal;
}

a:focus,
a:hover,
.t-link:not([disabled]):focus,
.t-link:not([disabled]):hover {
  text-decoration: underline;
}

.t-link__icon {
  display: inline-block;
  position: relative;
  height: calc(1em * var(--s-line-height));
  aspect-ratio: 1;
  vertical-align: middle;
}


.t-link__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-0.1em);
  width: 100%;
}

/**
 * Layout
 */
#pageContent,
.l-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 }

.l-container {
  position: relative;
  font-size: 1.6rem;
  min-width: 30rem;
  max-width: 40rem;
  margin: 0 auto;
}

.l-container::before {
  /* colored blob in the background */
  content: " ";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(
    145deg,
    var(--c-brand-yellow) 10%, var(--c-brand-orange) 40%,
    var(--c-brand-pink) 50%, var(--c-brand-purple) 90%
  );
  filter: blur(8rem);
}

.l-divider {
  display: block;
  margin-top: calc(var(--s-stack) * 2);
  margin-bottom: calc(var(--s-stack) * 2);
  border-top: var(--s-line) var(--c-line) solid;
}

.l-divider--text {
  display: flex;
  gap: calc(var(--s-gutter) * 2);
  align-items: center;
  margin-top: calc(var(--s-stack) * 2);
  margin-bottom: calc(var(--s-stack) * 2);
  border-top: none;
  height: calc(1em * var(--s-line-height));
}

.l-divider--text::before,
.l-divider--text::after {
  content: '';
  flex-grow: 1;
  border-top: var(--s-line) var(--c-line) solid;
}

.l-divider__label {
  display: inline-block;
}

.l-section {
  display: block;
  margin-top: calc(var(--s-stack) * 3);
}

/**
 * Cards
 */

.c-card {
  display: block;
  position: relative;
  padding: var(--s-card-bezel) var(--s-card-bezel-x);
  border: var(--s-line) var(--c-line) solid;
  background-color: var(--c-background-transparent);
  border-radius: 0.4rem;
  margin-top: var(--s-card-stack);
}

.c-card--narrow {
  padding: var(--s-card-bezel-narrow);
}

.c-card--outline {
  border: var(--s-line) var(--c-line-inverted) solid;
}

/**
 *  logo component 
 */

.c-logo {
  display: block;
  overflow: hidden;
  margin: calc(var(--s-logo-stack) - 1rem) 0 var(--s-logo-stack);
}

.c-logo svg {
  /* 
    this was done because the logo is oddly strangely positioned within the SVG
    to account of the that there is some whitespace on top and on the bottom of 
    log we cut it uff by removing 40% in height.

    We need a logo that is just the logo at some point.
  */
  margin-top: -20%;
  margin-bottom: -20%;
}


/**
 *  Forms and Buttons 
 */

.c-button {
  background: var(--c-button);
  color: var(--c-onButton);
  padding: var(--s-button-bezel);
  margin-top: var(--s-button-stack);
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 0.4rem;
}

.c-button--secondary {
  background: var(--c-onButton);
  color: var(--c-button);
}

.c-button:not([disabled]):focus,
.c-button:not([disabled]):hover {
  opacity: 0.9;
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #29abe2;
  outline: 2px dotted transparent;
  outline-offset: 2px;
}

/**
 *  Footer component
 */

.l-footer {
  padding: var(--s-footer-gutter);
  margin-top: var(--s-footer-stack);
}

.c-nav-links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--s-gutter) * 10);
}

.c-nav-links li + li::before {
  content: "·";
  margin: 0 calc(var(--s-gutter) * 2);
}

.page-signature {
  display: block;
  padding: var(--s-footer-gutter);
  transition: background 0.2s;
}

.page-signature img {
  display: block;
  max-width: 100%;
}

.page-signature:hover,
.page-signature:focus {
  background: var(--grey-050);
}
