body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

input,
button,
p,
div,
section,
span {
  font-size: 1.2rem;
}

img {
  min-width: 500px;
  width: 50vw;
  max-width: 800px;
  display: block;
  margin: auto;
}
section {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 6rem);
  margin: auto;
  align-items: baseline;
}

#clickMeBtn {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

form,
label {
  display: flex;
}

form {
  margin-bottom: 2rem;
  flex-direction: column;
}

button {
  padding: 1rem 2rem;
  border-radius: 4px;
  background: none;
}

button.primary {
  background-color: black;
}

button[type="submit"] {
  padding: 1rem 2rem;
  margin-right: auto;
}

label {
  flex-direction: column;
  margin-bottom: 1rem;
}

main {
  max-width: 1080px;
  margin: auto;
}

.hidden {
  display: none;
}

.spacer {
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justify-between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}

button[title="Remove identity"] {
  background: none;
  padding: 1rem;
  width: fit-content;
}

#closeDialog {
  margin-left: auto;
  padding: 4px;
  border: none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

dialog {
  max-width: calc(100vw - 2rem);
  position: relative;
  padding-top: 3rem;
}

ul {
  width: 100%;
  padding: 0;
}

#addDeviceLink {
  width: 100%;
  padding: 1rem 0.25rem;
  border-radius: 8px;
}

#registerAlias {
  max-width: 256px;
  margin-bottom: 1rem;
}

.details:empty {
  display: none;
}

#confirm button,
#prompt button {
  margin-right: 1rem;
}

#prompt-input {
  margin-bottom: 1rem;
  padding: 0.75rem 0.2rem;
}

/* large screen break */
@media (min-width: 1200px) {
  dialog {
    max-width: 1080px;
  }
}
/* tablet break */
@media (min-width: 720px) {
  label {
    flex-direction: row;
  }
}
