body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

img {
  min-width: 500px;
  width: 50vw;
  max-width: 800px;
  display: block;
  margin: auto;
}
section {
  display: flex;
  flex-flow: row wrap;
  max-width: calc(100vw - 2rem);
  margin: auto;
  align-items: baseline;
}

#clickMeBtn {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}

form,
label {
  display: flex;
}

form {
  margin-bottom: 2rem;
  flex-direction: column;
}

button[type="submit"] {
  padding: 1rem 2rem;
  margin-right: auto;
}

label {
  flex-direction: row;
  margin-bottom: 1rem;
}

input {
  height: fit-content;
}

main {
  max-width: 1080px;
  margin: auto;
}

.hidden {
  display: none;
}

.spacer {
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justify-between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}

button[title="Remove identity"] {
  background: none;
  padding: 1rem;
  width: fit-content;
}
