# These are all the files and directories that are _not_ included in the docker
# build. They are not used in the docker build and including them would simply
# invalidate the layer cache.
backend-tests
node_modules
demos
docs
dist
screenshots
target
out
arg.in
Dockerfile
*.wasm
*.swp

# filter out all "hidden" files and directories
# (.git, .dfx, .*ignore, etc)
.*

# except for the ones we really want
!.node-version

# Scripts are added explicitly as needed
scripts/
!scripts/build
!scripts/bootstrap
