# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
src/frontend/generated/
dist/
.env
lib
demos/vc_issuer/app/generated/
# the web2 integration demo has a different version of prettier which clashes with the one in the root
demos/web2_integration

# Cargo build output
target/
