[workspace]
members = [
    "src/internet_identity",
    "src/canister_sig_util",
    "src/canister_tests",
    "src/internet_identity_interface",
    "src/archive",
    "src/vc_util_br"
]
resolver = "2"

[profile.release]
debug = false # stripped by ic-wasm anyway
lto = true
opt-level = 'z'
