[workspace]
members = [
    "src/internet_identity",
    "src/canister_tests",
    "src/internet_identity_interface",
    "src/archive",
]

[profile.release]
debug = false # stripped by ic-wasm anyway
lto = true
opt-level = 'z'
