---
import "$src/styles/main.css";
---

<div>
  <toast-example></toast-example>
</div>

<script>
  import { LitComponent } from "./lit";
  import { TemplateResult, html } from "lit-html";
  import { toast } from "$src/components/toast";

  class ToastExample extends LitComponent {
    render(): TemplateResult {
      const toastMessage = html`This is a
        <strong class="t-strong">new</strong> message`;

      return html`<div
        class="c-card"
        style="max-width: 30em; margin: 40px auto;"
      >
        <h2 class="t-title t-title--sub">Toasts</h2>
        <div class="c-button-group">
          <button
            @click=${() => toast.info(toastMessage)}
            class="c-button c-input--stack"
          >
            info
          </button>
          <button
            @click=${() => toast.success(toastMessage)}
            class="c-button c-input--stack"
          >
            success
          </button>
          <button
            @click=${() => toast.error(toastMessage)}
            class="c-button c-input--stack"
          >
            error
          </button>
        </div>
      </div>`;
    }
  }
  customElements.define("toast-example", ToastExample);
</script>
