---
import Layout from "../../layouts/Layout.astro";
import "$src/styles/main.css";

export const iiFlowNames = ["loginManage", "register"];
export function getStaticPaths() {
  return iiFlowNames.map((name) => ({ params: { flow: name } }));
}

const { flow } = Astro.params;
---

<Layout>
  <main id="pageContent" aria-live="polite" data-flow-name={flow}></main>
  <div id="loaderContainer"></div>
  <script>
    import { iiFlows } from "$showcase/flows";

    const flow = (document.querySelector("[data-flow-name]") as HTMLElement)
      .dataset?.flowName as string;

    const f = iiFlows[flow];
    f();
  </script>
</Layout>
