[package]
name = "internet_identity"
version = "0.1.0"
edition = "2021"

[dependencies]

internet_identity_interface = { path = "../internet_identity_interface" }
metrics_encoder = { path = "../metrics_encoder" }

hex = "0.4"
lazy_static = "1.4"
serde = "1"
serde_bytes = "0.11"
serde_cbor = "0.11"
serde_with = "2.0"
sha2 = "^0.10" # set bound to match ic-certified-map bound

# Captcha deps
lodepng = "*"
base64 = "*"

rand = { version ="*", default-features = false }
rand_core = { version = "*", default-features = false }
rand_chacha = { version = "*", default-features = false }
captcha = { git = "https://github.com/nmattia/captcha", rev = "fb3fe931c20b8577bf02070ae6b8c0ca2f442427", default-features = false }

# All IC deps
candid = "0.7"
ic-cdk = "0.5"
ic-cdk-macros = "0.5"
ic-certified-map = "0.3"

[dev-dependencies]
canister_tests = { path = "../canister_tests" }
hex-literal = "0.3"
ic-error-types = "*"
ic-state-machine-tests = "*"
ic-types = "*"
regex = "1.5.6"

[features]
# the dummy_captcha feature which ensures the captcha string is always "a"
# (needed for tests)
dummy_captcha = []
