[package]
name = "internet_identity"
version = "0.1.0"
edition = "2018"

[dependencies]
base64 = "0.13.0"
certified_map = { path = "../certified_map" }
cubehash = { path = "../cubehash" }
hashtree = { path = "../hashtree" }
hex = "0.4"
ic-cdk = "0.3.2"
ic-cdk-macros = "0.3"
ic-types = "0.1.1"
serde = "1"
serde_bytes = "0.11"
serde_cbor = "0.11"
serde_with = "1.6.2"
sha2 = "0.9.1"

[dev-dependencies]
hex-literal = "0.2.1"
rand = "0.8.3"

[build-dependencies]
sha2 = "0.9.1"
