# The "official" docker build.
name: Docker build

on:
  push:

jobs:
  docker-build-base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # We use buildx and its GitHub Actions caching support `type=gha`. For
      # more information, see
      # https://github.com/docker/build-push-action/issues/539
      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Build base Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          cache-from: type=gha,scope=cached-stage
          cache-to: type=gha,scope=cached-stage,mode=max
          outputs: type=cacheonly
          target: deps

  docker-build-official:
    runs-on: ubuntu-latest
    needs: docker-build-base
    steps:
      - uses: actions/checkout@v2

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Build internet identity
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          cache-from: type=gha,scope=cached-stage
          # Exports the artefacts from the final stage
          outputs: ./out

      - run: sha256sum out/internet_identity.wasm
      - name: 'Upload official wasm'
        uses: actions/upload-artifact@v2
        with:
          name: internet_identity.wasm
          path: out/internet_identity.wasm

  docker-build-dummy-captcha:
    runs-on: ubuntu-latest
    needs: docker-build-base
    steps:
      - uses: actions/checkout@v2

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Build internet identity
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          build-args: |
            USE_DUMMY_CAPTCHA=1
          cache-from: type=gha,scope=cached-stage
          # Exports the artefacts from the final stage
          outputs: ./out

      - run: sha256sum out/internet_identity.wasm
      - name: 'Upload dummy captcha wasm'
        uses: actions/upload-artifact@v2
        with:
          name: internet_identity_dummy_captcha.wasm
          path: out/internet_identity.wasm
