name: Docker build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t idp-service .
      - run: mkdir out/
      - run: docker run --rm --entrypoint cat idp-service /idp_service.wasm > out/idp_service.wasm
      - run: docker run --rm --entrypoint tar idp-service -c -f - dist| tar -C out -x
      - run: sha256sum out/idp_service.wasm
      - name: 'Upload Artifacts'
        uses: actions/upload-artifact@v2
        with:
          name: Backend wasm module
          path: out
